*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    /* font-family: SpotifyMixUI, CircularSp, Helvetica, Arial, sans-serif; */
}
body {
    overflow-y: scroll; /* Show scrollbars */
}
nav{
    position: fixed;
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, .12);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 150px;

}
#div1{
    /* height: 100px; */
    /* width: 100px; */
    background-image: url(./images/kb_logo_new_2.png);
    height: 76.5px;
    width: 500px;
    /* background: url(https://knight-bite.com/res/kb_logo_new_2.png); */
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    /* border: 2px solid red; */
}
#ul{
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    font-size: 17px;
    color: rgba(255, 255, 255, .781);
    font-weight: 300;
    list-style-type: none;
    display: flex;
    /* border: 2px solid red; */
    width: 400px;
    justify-content: flex-start;
    gap: 40px;
    padding-left: 14px;
}
#ul a{
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    font-size: 17px;
    color: rgba(255, 255, 255, .781);
    font-weight: 300;
}
#div10{
    height: 600px;
    background-image: url(./assets/banner.webp);
}
#div10 h1{
    color: white;
    font-size: 60px;
}
#div10 div{
    width: 800px;
    padding-top: 150px;
    padding-bottom: 100px;
    padding-left: 100px;

}
#div20{
    /* height: 300px; */
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
}
#div20 img{
    height: 60px;
    width: 400px;
    /* border: 2px solid red; */
}
#div20 p{
    margin-left: 25px;
}
#main #p{
    width: 480px;
    /* border: 2px solid red; */
}
#main p{
    font-weight: 500;
    text-align: center;
    color: #424242;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    text-align: left;
    line-height: 25px;
}
#div21{
    display: flex;
    justify-content: space-evenly;
}
#div21 img{
    height: 300px;
    width: 500px;
    margin-left: 20px;
}
#div22{
    display: flex;
    justify-content: space-evenly;
}
#div22 img{
    height: 300px;
    width: 500px;
}
#div22 p{
    padding-top: 80px;
    margin-left: -10px;
}
#loc h4{
    font-size: 40px;
    font-weight: 700;
    /* text-align: center; */
    color: #424242;
    font-family: "Nunito", sans-serif;
    /* padding-left: 20px; */
}
#locdiv p{
    font-size: 18px;
    font-weight: 500;
    /* text-align: center; */
    color: #424242;
    font-family: "Nunito", sans-serif;
}
#loc{
    display: flex;
    justify-content: space-evenly;
}
#loc #locdiv{
    margin-left: -150px;
}
#loc #div23{
    margin-top: 70px;
}
#locdiv span{
    font-size: 25px;
    font-weight: 500;
    /* text-align: center; */
    color: #424242;
    font-family: "Nunito", sans-serif;
}
#footer{
    height: 50px;
    background: linear-gradient(90deg, #C77BF4 0%, #FF5672 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer p{
    color: white;
    font-family: "Nunito", sans-serif;
}
#div90{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF5672;
    height: 60px;
    width: 60px;
    border-radius: 40px 2px 40px 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    cursor: pointer;
}